@import url('https://fonts.googleapis.com/css2?family=Acme&family=Commissioner:wght@200&family=Coustard&family=League+Spartan:wght@500&family=Russo+One&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(3, 3, 55);
    color: white;
    font-family: 'Acme', sans-serif;

}

.formsection{
height: 500px;
}
h1{
    font-family: 'Rye', cursive;
    text-align: center;
    margin-top: 10px;
}
.myform{
    /* background-color: #171750; */
    display: flex;
    /* width: 50%; */
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    /* height: 442px; */
}

.form{
    border: 3px solid white;
    border-radius: 40px;
    position: relative;
    top: -333px;
    left: 722px;
    display: flex;
    width: 35%;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    height: 470px;
}
.myinput{
    width: 350px;
    height: 18px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: #030337;
    color: white;
    font-family: 'Acme', sans-serif;
}

.textarea {
    width: 350px;
    height: 85px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: #030337;
    color: white;
    font-family: 'Acme', sans-serif;
}

button {
    width: 92px;
    height: 48px;
    background-color: #030337;
    border-radius: 16px;
    padding: 12px;
    margin-bottom: 16px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: #171750;
    border-radius: 100px;
}

.myinput:hover{
    border-radius: 100px;
    background-color: #171750;
}

textarea:hover{
    border-radius: 60px;
    background-color: #171750;
    position: relative;
}


.contactleft {
    position: relative;
    top: 20px;
    align-items: center;
    font-size: 42px;
    margin: 103px 156px;
    letter-spacing: 2px;
}

.desc{

    font-size: 15px;
    color: grey;
}