.container{
    height: 800px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-color: aliceblue;
    flex-wrap: wrap;
}
.container .box-1{
    position: relative;
    left: 29px;
    background: #fff;
    width: 250px;
    height: 158px;
    padding: 121px 63px 12px;
    color: black;
    margin: 76px 100px 5px 130px;
    border-radius: 15px 15px 15px 70px ;
}

.container .box-1:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #24247f;
transform: scaleY(0);
transform-origin: top;
transition: transform 0.5s;
border-radius: 15px 15px 15px 70px ;

}

.container .box-1:hover:before{
    border: 3px solid white;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transfrom 0.5s;
    border-radius: 15px 15px 15px 70px ;
    
    }

    .container .box-1 h2{
        position: absolute;
        left: 60px;
        top: 40px;
        font-size: 4em;
        font-weight: 800;
        z-index: 1;
        opacity: 0.2;
        transition: 0.5s;
    }

    .container .box-1:hover h2{
        opacity: 1;
        color: #fff;
        transform: translateY(-40px);
    }

    .container .box-1 h3{
        font-size: 25px;
        position: absolute;
        left: 60px;
        top: 68px;
    }
    p{
        margin-top: 20px;
    }
   .container .box-1 p{
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;

   }
h1{
   font-size: 3rem;
   letter-spacing: 1px;
   font-variant: small-caps;
   margin: 14px 51px -40px 550px;
}