body {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.dice-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.dice {
    width: 100px;
    height: 100px;
    background-color: red; /* Default color */
    display: inline-block;
    margin: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
